/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Cabeçalho */
  header {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Banner */
  .banner {
    background-color: #e7e3df;
    padding: 40px 20px;
    text-align: center;
  }
  
  .banner h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Produtos */
  .produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
  }
  
  .produto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }
  
  .produto img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Rodapé */
  footer {
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 190px;
  }
  